<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <div class="login-container">
        <h1>Login</h1>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST" class="login-form">
            <label for="username_or_email">Username or Email:</label>
            <input type="text" name="username_or_email" id="username_or_email" placeholder="e.g. johndoe or example@mail.com" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>

        <p class="back-link">
            Don't have an account? <a href="{{ url_for('main.register') }}">Register here</a>
        </p>
    </div>

    <script>
        // Автоматическое скрытие флэшей через 3 сек
        document.addEventListener("DOMContentLoaded", () => {
            const flashes = document.querySelectorAll(".flash-messages li");
            flashes.forEach(flash => {
                setTimeout(() => {
                    flash.classList.add("hide");
                    setTimeout(() => flash.remove(), 500);
                }, 3000);
            });
            const emojis = ["🎫", "🎰", "💰", "🏃‍♂️", "🎥", "🎬", "🍿", "🎞️", "🏴‍☠️", "🇺🇸", "👮‍♂️", "🚔", "🕵️‍♂️", "🚨", "💼", " 🚀", "✈️", "🍕", "☢️", "⁉️", "👑", "🗡️", "🎫", "🎰", "💰", "🏃‍♂️", "🎥", "🎬", "🍿", "🎞️", "🏴‍☠️", "🇺🇸", "👮‍♂️", "🚔", "🕵️‍♂️", "🚨", "💼", " 🚀", "✈️", "🍕", "☢️", "⁉️", "👑", "🗡️", "⭐️", "❄️", "🌊", "💧", "⚽️", "🌄", "🌃", "🔥", "🐬", "⭐️", "❄️", "🌊", "💧", "⚽️", "🌄", "🌃", "🔥", "🐬"];
            const body = document.body;

            emojis.forEach(emoji => {
                const div = document.createElement("div");
                div.classList.add("emoji-bg");
                div.textContent = emoji;
                div.style.left = Math.random() * 95 + "%";
                div.style.fontSize = (20 + Math.random() * 20) + "px";
                div.style.animationDuration = (6 + Math.random() * 6) + "s"; // чуть быстрее
                body.appendChild(div);
            });
        });
    </script>
</body>
</html>