<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_register.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <div class="register-container">
        <h1>Register</h1>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST" class="register-form">
            <label>Username:</label>
            <input type="text" name="username" placeholder="Choose a username" required>

            <label>Email:</label>
            <input type="email" name="email" placeholder="example@mail.com" required>

            <label>Password:</label>
            <input type="password" name="password" placeholder="At least 8 characters" required>

            <button type="submit">Sign up</button>
        </form>

        <p class="back-link">
            <a href="{{ url_for('main.welcome') }}">⬅ Back to Home</a>
        </p>
    </div>
    <script>
        // Автоматическое скрытие флешей через 3 сек
        document.addEventListener("DOMContentLoaded", () => {
            const flashes = document.querySelectorAll(".flash-messages li");
            flashes.forEach(flash => {
                setTimeout(() => {
                    flash.classList.add("hide");
                    setTimeout(() => flash.remove(), 500); // удаляем после анимации
                }, 3000); // время показа 3 секунды
            });

            const emojis = ["🎫", "🎰", "💰", "🏃‍♂️", "🎥", "🎬", "🍿", "🎞️", "🏴‍☠️", "🇺🇸", "👮‍♂️", "🚔", "🕵️‍♂️", "🚨", "💼", " 🚀", "✈️", "🍕", "☢️", "⁉️", "👑", "🗡️", "🎫", "🎰", "💰", "🏃‍♂️", "🎥", "🎬", "🍿", "🎞️", "🏴‍☠️", "🇺🇸", "👮‍♂️", "🚔", "🕵️‍♂️", "🚨", "💼", " 🚀", "✈️", "🍕", "☢️", "⁉️", "👑", "🗡️", "⭐️", "❄️", "🌊", "💧", "⚽️", "🌄", "🌃", "🔥", "🐬", "⭐️", "❄️", "🌊", "💧", "⚽️", "🌄", "🌃", "🔥", "🐬"];
            const body = document.body;

            emojis.forEach(emoji => {
                const div = document.createElement("div");
                div.classList.add("emoji-bg");
                div.textContent = emoji;
                div.style.left = Math.random() * 95 + "%";
                div.style.fontSize = (20 + Math.random() * 20) + "px";
                div.style.animationDuration = (8 + Math.random() * 8) + "s";
                body.appendChild(div);
            });
        });
    </script>
</body>
</html>