<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_survey.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_flash.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    {% include 'nav.html' %}
    <!-- Flash messages -->
    {% include 'flash.html' %}
    <!-- TODO: make a left side of slider -->
    <div class="survey-container">
        <h1>Rate These Movies</h1>
        <form method="POST" class="survey-form">
            {% for movie in movies %}
                <div class="survey-item" data-id="{{ movie.id }}">
                    <label class="movie-title">{{ movie.title }}</label>
                    <div class="rating-control">
                        <input type="range"
                               class="slider"
                               min="1" max="5" step="0.1"
                               value="3">
                        <span class="slider-value">3</span> ⭐
                        
                        <!-- Новый кастомный чекбокс -->
                        <label class="skip-label">
                            <input type="checkbox" class="skip-checkbox">
                            <span class="checkbox-ui" aria-hidden="true"></span>
                            <span class="skip-text">Skip</span>
                        </label>
                    </div>
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script_flash.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/script_survey.js') }}" defer></script>
</body>
</html>