<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Movies by Genre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_top.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_nav.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}
    <h1>Top Movies by Genre</h1>

    <div class="genre-container">
        {% set genres_list = top_by_genre.keys()|list %}
        {% set left_genres = genres_list[:(genres_list|length // 2)] %}
        {% set right_genres = genres_list[(genres_list|length // 2):] %}

        <div class="left-column">
            {% for genre in left_genres %}
                <section class="genre-block">
                    <h2>{{ genre }}</h2>
                    <div class="movies-split">
                        <ul class="new-movies">
                            {% for movie, rating, year in top_by_genre[genre]['new'] %}
                                <li>{{ movie }} ({{ year }}) — {{ "%.1f"|format(rating) }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="old-movies">
                            {% for movie, rating, year in top_by_genre[genre]['old'] %}
                                <li>{{ movie }} ({{ year }}) — {{ "%.1f"|format(rating) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endfor %}
        </div>

        <div class="right-column">
            {% for genre in right_genres %}
                <section class="genre-block">
                    <h2>{{ genre }}</h2>
                    <div class="movies-split">
                        <ul class="new-movies">
                            {% for movie, rating, year in top_by_genre[genre]['new'] %}
                                <li>{{ movie }} ({{ year }}) — {{ "%.1f"|format(rating) }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="old-movies">
                            {% for movie, rating, year in top_by_genre[genre]['old'] %}
                                <li>{{ movie }} ({{ year }}) — {{ "%.1f"|format(rating) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>

        <script src="{{ url_for('static', filename='js/script_top.js')  }}"></script>
</body>
</html>